footer{
    background-color: #6c757d!important;
    color: white;
}
.footer__container{
    padding: 4rem 0 3rem 0;
}
footer a {
    color: white;
}
footer a:hover i {
    color: white;
}

.fab_class{
    margin: 1rem;
}