.home{
    margin: 1rem;
}
.home__row{
    margin: .1rem;
}
.home__tutor__stars{
    margin: 1rem 0;
}
.home__tutor__stars i {
    font-size: 20px;
    font-weight: 500;
    color: rgb(238, 204, 52);
    padding: .5rem;
} 

.home__row{
    text-align: center;
}
.home__tutor__content{
    padding: 2rem;
    margin: 2rem;
    border-radius: 3%;
    transition: .5s;
}
.home__tutor__content h5{
    margin: 1rem;
    font-size: 25px;
}
.home__row .col-lg-4 .home__tutor__content:hover {
    box-shadow: 0px 1px 7px 4px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 7px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 7px 4px rgba(0,0,0,0.1);
    background-color: #2b2a33;
    color:white;
}

.home__portrait{
    width: 200px;
    height: 200px;
}