.navbar{
    padding: .5rem 1rem;
    background-color: #2b2a33 !important;
}
.navbar row{
    text-align: center;
}

.navbar__title {
    display: block !important;
}

.navbar > a i:hover {
    color: black!important;
}
.navbar__img {
    margin-left: .7rem;
    max-width: 100px;
    max-height: 100px;
}
.navbar__p {
    margin-bottom: 0!important;
    font-weight: 500; 
    text-align: left;
    font-size: 1.2rem;
    display: inline-block;
}

.search__form{
    display: inline-flex;
}
.form-control, .navbar__btn {
    border-radius: 0;
}
.collapse input, .collapse ul{
    padding: 0 1rem;
}