.tutor__tutor__image{
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
}
.tutor__tutor__image__container{
    margin: 3rem;
    text-align: center;
}

.tutor__tutor__image__container img{
    transition: .4s;
}
.tutor__tutor__image__container img:hover{
    box-shadow: 1px 2px 9px 4px rgba(0,0,0,0.49);
    -webkit-box-shadow: 1px 2px 9px 4px rgba(0,0,0,0.49);
    -moz-box-shadow: 1px 2px 9px 4px rgba(0,0,0,0.49);
}

.tutor__tutor__name{
    margin: 3rem 0rem;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.tutor__tutor__about, .tutor__tutor__email{
    margin: 2rem 0rem;
    font-size: 25px;
    font-weight: 500;
}
.tutor__tutor__stars{
    margin: 2rem 0;
}
.tutor__tutor__stars i {
    font-size: 25px;
    font-weight: 500;
    color: rgb(238, 204, 52);
    padding: .5rem;
}
.tutor__tutor__desc{
    margin: 1rem 0rem;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

/* course */
.course__heading{
    margin: 4rem 0 0 0;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

/* tutor add course  */
.tutor__course__add{
    padding: 11rem 0;
    margin: 2rem;
    border-radius: 3%;
    background-color: rgba(0, 0, 0, 0.284);
    color: rgb(221, 221, 221);
    font-size: 50px;
    font-weight: 700;
}

.course__comment__card{
    padding: 3rem 5rem;
}
.course__comment__card .card{
    margin: 1rem 0;
}
.course__comment__image img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 1rem;
}
.course__comment__image{
    display: inline-flex;
}
.course__comment__text{
    margin: 0 1rem;
}
.course__comment__text__name{
    font-weight: 600;
    font-size: 18px;
    color: #2f4274;
}

@media only screen and (max-width: 450px) {
    .tutor__tutor__image{
        width: 16rem;
        height:16rem;
    }
    .tutor__tutor__email{
        font-size: 20px;
    }
    footer .row{
        --bs-gutter-x: 0;
    }
    .course__comment__card{
        padding: 1rem;
    }
  }